@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

.div-content.open {
    /* Mostra o menu no mobile */
    left: 10px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    /* left: -500px; */
    /* right: 0; */
    height: 250px;
    transition: left 0.3s ease;
    align-items: center;
    justify-content: center;
    top: 10px;
    width: 40%;
    /* gap:13px; */

}

.ul.open {
    /* position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green; */
    margin-top: 70px;
    background-color: blue;

}

@media (max-width: 768px) {

    /* Ícone do menu (aparece no mobile) */
    .menu-icon {
        display: block;
        color: white;
        width: 24px;
        height: 24px;
        cursor: pointer;
        top: 40px;
        /* Ajuste a distância do topo */
        left: 40px;
        /* Ajuste a distância da esquerda */
        z-index: 110;
        /* Garante que esteja acima de outros elementos*/
    }

    .div-content {
        display: flex;
        flex-direction: row;
        /* border: 2px solid red; */
        left: 0;
        right: 0;
        height: 250px;
        /* transition: left 0.3s ease; */
        align-items: center;
        /* justify-content: left; */
        top: 10px;
        width: 100%;
        height: 100%;

    }

    .ul {
        display: none;


    }

    .nav-bar {
        /* border: 2px white; */
        margin-top: 0;
        display: flex;
        /* flex-direction: column; */
        /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;*/
        background-color: #0A0A0A;
        position: absolute;
        /* align-items: center;
        justify-content: center; */
        top: 10px;
        /* Esconde fora da tela no mobile */
        /* left: -100%;  */
        /* right: 0; */
        height: 60px;
        z-index: 100;
        /* Garante que o header esteja acima do container */
        /* border: 2px solid white; */
        width: 100%;
        /* padding: 20px; */
        /* height: 250px; */


    }


    /* Remover estilos padrão do <ul> */
    ul {
        list-style: none;
        /* Remove os marcadores de lista */
       
        /* Remove o padding padrão */
        margin-top: 0px;
        /* Remove a margem padrão */
        display: flex;
        /* Coloca os itens <li> em linha */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Distribui os itens horizontalmente */
        width: 220px;
        /* left: 70px; */
        gap: 55px;
        align-items: center;
        /* border:3px solid green;  */
        border-radius: 10px;
        height: 200px;
        transition: left 0.3s ease;
        /* padding-top: 10px; */
        background-color: rgba(255, 255, 255, 0.1);
        /* branco translúcido */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px 20px;
        
    }

    /* Estilo dos itens <li> */
    li {
        /* margin-right: 20px; Espaço entre os itens, ajuste conforme necessário */
        font-size: 10px;
        font-family: 'Montserrat';
    }

    .textHeader {
        font-size: 14px;
    }

    /* Estilo dos links dentro dos itens da lista */
    a {
        text-decoration: none;
        /* Remove o sublinhado dos links */
        color: white;
        /* Cor dos links */
        font-weight: bold;
        /* Deixa o texto em negrito */
    }

    /* Efeito ao passar o mouse sobre os links */
    a:hover {
        color: #2C1D80;
        /* Cor ao passar o mouse */
    }





}

@media (min-width: 769px) {
    .div-content {
        border: 2px solid yellow;
    }

    /* Estilo da barra de navegação */
    .nav-bar {
        display: flex;
        flex-direction: row;
        /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;*/
        background-color: #0A0A0A;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        /* Altura do header */
        z-index: 100;
        /* Garante que o header esteja acima do container */
        width: 100%;
    }

    .xspan {
        display: none;
    }

    /* Remover estilos padrão do <ul> */
    ul {
        list-style: none;
        /* Remove os marcadores de lista */
        padding: 0;
        /* Remove o padding padrão */
        margin: 0;
        /* Remove a margem padrão */
        display: flex;
        /* Coloca os itens <li> em linha */
        flex-direction: row;
        justify-content: space-around;
        /* Distribui os itens horizontalmente */
        width: 100%;
    }

    /* Estilo dos itens <li> */
    li {
        margin-right: 20px;
        /* Espaço entre os itens, ajuste conforme necessário */
        font-size: 1rem;
        font-family: 'Montserrat';
    }

    /* Estilo dos links dentro dos itens da lista */
    a {
        text-decoration: none;
        /* Remove o sublinhado dos links */
        color: white;
        /* Cor dos links */
        font-weight: bold;
        /* Deixa o texto em negrito */
    }

    /* Efeito ao passar o mouse sobre os links */
    a:hover {
        color: #2C1D80;
        /* Cor ao passar o mouse */
    }

    .textHeader {
        font-size: 15px;
    }

    /* .header{
        position:fixed;
    } */
    .menu-icon {
        display: none;
    }
}