@font-face {
    font-family:'Montserrat';
    src: url('/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Agdasima';
    src: url('/src/assets/fonts/Agdasima/Agdasima-Regular.ttf');
}

@font-face {
    font-family: "AgdasimaBold";
    src: url('/src/assets/fonts/Agdasima/Agdasima-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Thin.ttf');
}

.title{
    font-family: 'Roboto';
    font-size:60px;
    color: white;
}

.subtitle{
        font-family: 'Agdasima';
        font-size: 30px;
        color: white;
}

.title, .subtitle {
    margin: 0; /* Reseta margens padrão */
}
