@font-face {
    font-family: 'Agdasima';
    src: url('/src/assets/fonts/Agdasima/Agdasima-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@media (max-width: 768px) {
    .text-about{
        font-size: 14px;
    }
    .sectionText{
        width: 90%;
        margin: 0px;
        height: 10%;
        text-align: left;
    }
}
h1{
    font-size: 25px;
    color: white;
    font-family: 'Agdasima';
    font-weight: 300;
}
.footer-home{
    display: flex;
    height:100px;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.text-footer{
    font-size: 14px;
    font-family: 'Roboto';
    color: black;
}
.div-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
    width: 20%;
    
}
.link-footer{
    color: black;
}
/* .container{
    margin-top: 0;
    overflow-y: auto;
} */

@media (max-width: 768px) {
    .footer-home{
        height:auto;
        /* padding-bottom: 40px; */
        /* align-items: center; */
        margin-top: 10px;
    }
    .container{
        margin-top: 0;
    }

    .sideBar{
        width: 30%;
        height: 80%;
        padding-left: 15px;
        margin-left: 15px;
        /* float: right;
        font-style: italic; */
        background-color: black;
        border: 2px,solid ,white;
        position: fixed;

      }
        
}