.button{

    background-color: transparent;
    border: none;
}
.buttonDiv{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    width: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}
.buttonDiv:hover {
    background-color:#2C1D80; /* Cor ao passar o mouse */
}