.ContainerBackground{
    background:  linear-gradient(90deg, #0f2027, #203a43, #2c5364);
    width: 100%; /* ou uma largura específica */
    padding-top: 40px; /* Dá espaço suficiente para que o header não sobreponha o conteúdo */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    gap: 50px;
   
}

@keyframes neon-light {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .glowing-line {
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.2) 25%, rgba(0, 255, 255, 0.7) 50%, rgba(0, 255, 255, 0.2) 75%);
    background-size: 200% 100%;
    animation: neon-light 2s infinite linear;
    border-radius: 2px;
  }
  