

.image-con{
    height:  415px;
    width: 277px;
    border: 2px solid white;
    background-color: gray;
}

.image-pro{
    height: 600px;
    width: 600px;
    background-color: #1A1A1A;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
   
.image-pro{
    height: 600px;
    width: 80%;
    background-color: #1A1A1A;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
}